<div class="container">
  <h1><%= @product.name %> Details</h1>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Description:</strong> <%= @product.description %></p>
      <% if @product.discount_price.present? %>
        <p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
        <p><strong>Discount Price:</strong> <%= number_to_currency(@product.discount_price) %></p>
      <% else %>
        <p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
      <% end %>
      <p><strong>Category Products:</strong> <%= link_to @product.category.name, category_path(@product.category) %></p>
    </div>
  </div>
</div>
